* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 1240px;
    width: 90%;
    padding-bottom: 30px;
    padding-top: 30px;
}

.logo {
    margin-left: 1rem;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.menu-item>a {
    margin-right: 40px;
    color: #FF6060;
    text-decoration: none;
}

.menu-item>a:hover {
    color: #FF6060;
    text-decoration: underline;

}

.header-logo {
    width: 150px;
}

@media screen and (max-width: 600px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        padding: 0;
        margin-top: 25px;
        margin-bottom: 25px;

    }

    .header-logo {
        width: 125px;

    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style: none;
    }


    .menu-item>a {
        margin-right: 10px;
        font-size: 12px;
        color: #FF6060;
        text-decoration: none;
        text-transform: uppercase;
    }

    .menu-item>a:hover {
        color: #FF6060;
        text-decoration: underline;

    }

}

@media screen and (min-width: 601px) and (max-width: 1025px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 0;
        margin: auto;

    }

    .header-logo {
        width: 180px;

    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style: none;
    }


    .menu-item>a {
        margin-right: 10px;
        font-size: 14px;
        color: #FF6060;
        text-decoration: none;
        text-transform: uppercase;
    }

    .menu-item>a:hover {
        color: #FF6060;
        text-decoration: underline;

    }
}